{% extends 'admin.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h1>Notification</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Contenu</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.user.getFullName}}</td>
                <td>{{ contact.contenu }}</td>
                <td> <time datetime="{{ contact.createdAt|date('Y-m-d H:i:s') }}">{{ contact.createdAt|ago }}</time></td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
